<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="appName" value="Task Manager" />

	<targets async="true">
		<target xsi:type="File"
				name="default"
				encoding="utf-8"
				layout="${longdate} - ${level:uppercase=true} [${threadid}]: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="C:\Logfiles\${appName}\TaskManager_${shortdate}.log"
				keepFileOpen="false"
				archiveFileName="C:\${appName}\TaskManager_${shortdate}.{##}.log"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				archiveDateFormat="yyyy-MM-dd"
				archiveAboveSize="5000000"
				maxArchiveFiles="30"
            />
	</targets>
	<rules>
		<logger name="*" writeTo="default" minlevel="Trace" />

	</rules>
</nlog>